<%
meta title: "Home - Matt Would Go",
     description: "Welcome to Matt Would Go, the official website of the MattWouldGo foundation. This website is dedicated to preserving the legacy of Navy SEAL Matt Leathers."
%>

<section id="matt">

  <div class="col col-md-10">

    <div class="circimg">
      <div style="background-image: url(<%= @homeImage[0].image %>)"></div>
    </div>

    <%= cms_upload(@homeImage[0], :image, "Upload New Image") %>

    <h1>Matt's Story</h1>


    <div class="col col-md-10">
      <p>
        <%= bip @homeText[0], :text, :textarea %>
      </p>
    </div>

  </div>

</section>

<section id="eddie">

  <div class="col col-md-10">
  
    <h1>Eddie's Story</h1>

    <div class="col col-md-10">
      <p>
        <%= bip @homeText[1], :text, :textarea %>
      </p>
    </div>

  </div>
  
</section>

<section id="buck">

  <div class="col col-md-10">

    <%= image_tag @homeImage[2].image, id: "buck-logo" %>

    <%= cms_upload(@homeImage[2], :image, "Upload New Image") %>

    <h1>Support Matt Would Go</h1>

    <div class="col col-md-10">
      <p>
        <%= bip @homeText[2], :text, :textarea %>
      </p>

      <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="TFR8ZJR7VEUM8">
        <!-- <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"> -->
        <button type="submit" name="submit">Buy a knife now!</button>
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
      
      <%= image_tag @homeImage[3].image, id: "knife" %>

      <%= cms_upload(@homeImage[3], :image, "Upload New Image") %>
    </div>

    <div class="col col-md-8" id="buy">

     <!--  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="27M2VV4GRXSK4">
        <button type="submit" name="submit">Donate to the foundation</button>
        <!-- <input type="button" name="submit" value="Donate to the foundation"> 
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form> -->


    </div>

  </div>

</section>

<script>
  $(document).ready(function() {
    $('header').addClass('header')
  })
</script>